body {
	width: 1022px;
	height: auto;
}
#header {
	background-color: gray;
	display: block;
	height: 132px;
}
#content {
	background-color: black;
	display: block;
	min-height: 550px;
	padding: 15px 30px;
}
#imageMain {
	border: 4px solid white;
	background-color: blue;
	display: inline-block;
	width: 378px;
	height: 257px;
	margin: 5px;
}
#main {
	background-color: yellow;
	display: inline-block;
	width: 550px;
	height: 265px;
	margin: 5px;
}
#bulk {
	color: yellow;
	line-height: 0;
}
.pages {
	background-color: yellow;
	height: 200px;
	width: 227px;
	display: inline-block;
	margin: 5px;
}