body {
	width: 1022px;
	height: auto;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
}
h3 {
	margin-top: 0;
	padding-top: 0;
}
a {
	text-decoration: none;
}
#header {
	background-image: linear-gradient(#e9e9e9, white 40px);
	background-image: -webkit-linear-gradient(#e9e9e9, white 40px);
    background-image: -o-linear-gradient(#e9e9e9, white 40px);
    background-image: -moz-linear-gradient(#e9e9e9, white 40px);
    background-image: linear-gradient(#e9e9e9, white 40px);
	display: block;
	height: 130px;
	text-align: right;
	vertical-align: top;
}
#header h1 {
	display: inline-block;
	vertical-align: top;
	padding: 15px 35px 0 285px;
	font-size: 150%;
}
#navigation {
	background-image: linear-gradient(#f4f7f8 15%, #d8dfe4 35%, #f4f7f8 40px);
	background-image: -webkit-linear-gradient(#f4f7f8 15%, #d8dfe4 35%, #f4f7f8 40px);
    background-image: -o-linear-gradient(#f4f7f8 15%, #d8dfe4 35%, #f4f7f8 40px);
    background-image: -moz-linear-gradient(#f4f7f8 15%, #d8dfe4 35%, #f4f7f8 40px);
    background-image: linear-gradient(#f4f7f8 15%, #d8dfe4 35%, #f4f7f8 40px);
	border-top: 1px solid black;
	height: 62px;
	width: 1022px;
	text-align: center;
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 9px 15px;
	border-left: 2px ridge white;
	vertical-align: top;
	font-weight: bold;
}
li:last-child {
	border-right: 2px ridge white;
}
#navigation a {
	color: gray;
}
#content {
	background-image: linear-gradient(to right, black, gray, black);
	background-image: -webkit-linear-gradient(to right, black, gray, black);
    background-image: -o-linear-gradient(to right, black, gray, black);
    background-image: -moz-linear-gradient(to right, black, gray, black);
    background-image: linear-gradient(to right, black, gray, black);
	display: block;
	min-height: 550px;
	padding: 10px 30px;
}
#mainImage {
	border: 4px solid white;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}
#main {
	background-color: gray;
	display: inline-block;
	width: 550px;
	height: 265px;
	margin: 5px;
	vertical-align: top;
	border: 1px solid black;
}
.yellow {
	height: 12px;
	background-image: linear-gradient(#fbd15b 10px, #fec72f 15px, #fece50);
	background-image: -webkit-linear-gradient(#fbd15b 10px, #fec72f 15px, #fece50);
    background-image: -o-linear-gradient(#fbd15b 10px, #fec72f 15px, #fece50);
    background-image: -moz-linear-gradient(#fbd15b 10px, #fec72f 15px, #fece50);
    background-image: linear-gradient(#fbd15b 10px, #fec72f 15px, #fece50);
	font-weight: bold;
	padding: 8px;
	border-bottom: 1px solid black;
	font-size: 90%;
}
#main p, h3 {
	color: white;
	margin:;
	padding: 0 15px;
}
#main h3 {
	margin: 10px 0 0 0;
}
#ppcLogo {
	background-image: url('button.jpg');
	background-repeat: no-repeat;
	height: 17px;
	width: 55px;
	border: 0px;
	border-radius: 0 3px 3px 0;
	margin: 0 15px;
}
#bulk {
	color: #bfbf88;
	line-height: 0;
	display: inline-block;
}
.pages {
	background-color: white;
	height: 260px;
	width: 222px;
	display: inline-block;
	margin: 5px 9px 5px 4px;
	vertical-align: top;
	border: 1px solid black;
	position: relative;
}
.pages p {
	padding: 0px 10px;
	font-size: 80%;
}
.arrow {
	background-color: #ffc628;
	border: 2px solid black;
	border-radius: 4px 45px 45px 4px;
	margin-left: 115px;
	bottom: 15px;
	right: 15px;
	vertical-align: bottom;
	position: absolute;
}